@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,400italic,500,700,100);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,800,300,600,700);
@import url(http://fonts.googleapis.com/css?family=Abel);

/* =========================================================
 * Base
 * ========================================================= */

body {
	font-family: 'Roboto', sans-serif;
	position: relative;
	font-weight:400;
}
ul li {
  	list-style: none;
}
a:hover {
	outline: none;
	text-decoration:none;
}
a:focus {
	outline:none;
	outline-offset: 0;
}
a {
	-webkit-transition: 300ms;
	-moz-transition: 300ms;
    -o-transition: 300ms;
    transition: 300ms;
}
h1, h2, h3, h4, h5, h6 { 
	font-family: 'Roboto', sans-serif; 
}

/* =========================================================
 * Menu
 * ========================================================= */

.menu ul li{
  	padding-right: 15px;
	padding-left: 15px;
}

.menu ul li:first-child{
	padding-left: 0px;
}

.menu ul li a {
	color: #696763;
	font-family: 'Roboto', sans-serif;
	font-size: 17px;
	font-weight: 300;
	padding: 0;
	padding-bottom: 10px;
}

.menu ul li a:hover, .menu ul li a.active {
	background:none;
	color:#fdb45e;
}

/* =========================================================
 * Dropdown List
 * ========================================================= */

.navbar-toggle {
  	background-color: #000;
}

.header {
	padding-bottom: 30px;
	padding-top: 30px;
}

.navbar-header 
.navbar-toggle .icon-bar {
    background-color: #fff;
}


.nav.navbar-nav > li:hover > ul.sub-menu{
	display: block;
  	-webkit-animation: fadeInUp 400ms;
  	-moz-animation: fadeInUp 400ms;
  	-ms-animation: fadeInUp 400ms;
  	-o-animation: fadeInUp 400ms;
  	animation: fadeInUp 400ms;
}

ul.sub-menu {
	position: absolute;
	top: 30px;
	left: 0;
	background: rgba(0, 0, 0, 0.6);
	list-style: none;
	padding: 0;
	margin: 0;
	width: 220px;
	-webkit-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);
	box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);
	display: none;
	z-index: 999;
}

.dropdown ul.sub-menu li .active {
  color: #FDB45E;
  padding-left: 0;
}


.navbar-nav li ul.sub-menu li {
  	padding: 10px 20px 0 ;
}

.navbar-nav li ul.sub-menu li:last-child {
  	padding-bottom: 20px;
}

.navbar-nav li ul.sub-menu li a {
  	color: #fff;
}

.navbar-nav li ul.sub-menu li a:hover {
    color: #FDB45E;
}


.fa-angle-down {
  padding-left: 5px; 
}

@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
